.marker-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marker-popup h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    align-self: center;
}

.marker-popup img{
    width: 300px;
}

.marker-popup p {
    font-size: 0.90rem;
    margin-top: 10px;
}

.marker-popup-adress-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 20px;
}

.marker-popup-adress {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 0.9rem;
}

.marker-popup-btn {
    display: flex;
    justify-content: center;
    align-self: center;
}

.marker-popup-btn button {
    padding: 10px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.90rem;
    font-weight: 600;
    transition: 0.3s;
}
.marker-popup-adress, .marker-popup-btn {
    display: flex;
    width: 50%;
}

@media (max-width: 750px) { 

    .marker-popup h2 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 10px;
        align-self: center;
    }

    .marker-popup img {
        width: 150px;
    }
}