@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primary-red: #E31B28;
  --primary-grey: #c9c9c9;
  --secondary-grey: #575756;
  --primary-blue: #0C233F;
  --primary-yellow: #FFC72C;
  --primary-blue-gradient: linear-gradient(180deg, #080061, #0A0541);
  --primary-red-gradient: linear-gradient(180deg, #DC0019 0%, #A50005 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100hv;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}